#image-list-div {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}
#stream-img {
    margin-bottom: 15px;
}

.hide {
    display: none;
}

.captureRemoveDiv {
    position: absolute;
    right: 5px;
    top: 0px;
    float: right;
    font-size: 15px;
    color: red;
}

.captureDiv {
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid;
    width: 125px;
    height: 125px;
    margin: 5px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.captureDiv.editButton {

}

.captureDiv:hover .hide {
    display: block;
}

.captureDiv .labelDropdown {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.navbar {
    margin-bottom: 15px;
}